<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi portafolio</title>
</head>
<body>
    <div class="layout">
        <div class="contenedor contenedor-foto">
            <img src="assets/img/foto-perfil.jpg" alt="Foto de perfil">
            <p class="descripcion"><strong>Javier Esteban Duque Guevara</strong><br>Analista de Datos</p>
        </div>
        <div class="contenedor contenedor-acerca-de-mi">
            <h1>Acerca de mí</h1>
            <p>Tecnólogo en Sistematización de Datos y estudiante de Ingeniería en Telemática con experiencia en atención al cliente, análisis de datos y creación de dashboards en Qlik y Power BI. Poseo habilidades en la manipulación y visualización de datos, comunicación efectiva con el equipo de trabajo y resolución de problemas. Además, tengo experiencia en el uso de Python para análisis de datos.</p>
            <p>Busco oportunidades que me permitan aplicar mi experiencia y conocimientos para contribuir al éxito de una organización y continuar creciendo profesionalmente en el campo de la analítica de datos.</p>
        </div>
        <div class="contenedor contenedor-proyectos">
            <h1>Proyectos</h1>
            <div class="contenedor-py">
                <a href="https://drive.google.com/drive/folders/1qC6at_miVL7BZmUDfgr1u4kYHsRMJ9hL?usp=drive_link" target="_blank">
                <img src="assets/img/Python.png" alt="Python" width="100" height="100">
                <p class="descripcion">Python</p></a>
            </div>
            <div class="contenedor-pbi">
                <a href="https://1drv.ms/f/s!Arj2TaZpXgohiX724MXSvdD9fFSB?e=RSY1eF" target="_blank">
                <img src="assets/img/Power_BI.png" alt="Power BI" width="100" height="100">
                <p class="descripcion">Power BI</p></a>
            </div>
        </div>
        <div class="contenedor contenedor-exp">
            <h1>Experiencia</h1>
            <div class="contenedor-exp1">
                <h3>Practicante FACISO</h3>
                <p>Universidad de los Andes.<br>Agosto 2023 - Marzo 2024.</p>
                <p>Normalización de números antiguos de revistas usando InDesign y Marcación de revista para repositorio Scielo usando etiquetas XML.</p>
            </div>
            <div class="contenedor-exp2">
                <h3>Practicante Área de Medición</h3>
                <p>Frontera Energy<br>Ago 2020 - Feb 2021.</p>
                <p>Consolidar la información de medición requerida desde distintos campos, asegurándome de actualizarla en las carpetas compartidas y archivos del área. Además, llevaba a cabo un seguimiento constante para garantizar la actualización mensual de esta información por parte de los campos involucrados.</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <p><strong>Contáctame</strong></p>
            <p>Email: Esteban_duque159&#64;hotmail.com</p>
            <p>Celular: +57 311 814 4673</p>
            <div class="centrar">
                
                <a href="https://www.linkedin.com/in/javier-duque-g/" target="_blank">
                    <img src="assets/img/linkedin.png" alt="LinkedIn" width="100" height="30">
                </a>
                &emsp;
                <a href="https://github.com/EstebanDuque123" target="_blank">
                    <img src="assets/img/github.png" alt="GitHub" width="50" height="50">
                </a>
                &emsp;
                <a href="mailto:Esteban_duque159@hotmail.com">
                    <img src="assets/img/correo.png" alt="Correo" width="50" height="50">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>